.contact-right-content {
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-column-gap: 0px;
    grid-row-gap: 6vh;
    position:absolute;
    top: var(--main-border-height);
    right: calc(var(--main-border-height) + 14vw);
    width: 36vw;
}

.contact-title > h1 {
    align-items: end;
    font-size: 2vw;
    color: var(--el-color);
    font-family: "nimbusReg";
    margin-top: calc(2vw + 1vh);
    text-align: end;
}

.msg-container {
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-column-gap: 0px;
    grid-row-gap: 2VW;
}

.email-input {
	background: transparent;
    border: none;
    outline: none;
    border-left: var(--medium-border-height) solid var(--el-color);
    border-right: var(--medium-border-height) solid var(--el-color);
    padding: 1vw;
    color: var(--el-color);
    font-size: 1vw;
}

.text-area-container {
	position: relative;
}

.msg-textarea {
	background: transparent;
    border: none;
    outline: none;
    border-left: var(--medium-border-height) solid transparent;
    padding: 1vw;
    color: var(--el-color);
    font-size: 1vw;
    resize: none;
    width: calc(100% - 3vw);
    height: calc(100% - 3vw);
    overflow: hidden;
}

.textarea-border-left {
	width: var(--medium-border-height);
	height: 100%;
	background-color: var(--el-color);
	position: absolute;
    top: 0;
    left: 0;
}

.textarea-border-bottom {
	width: 4vw;
	height: var(--medium-border-height);
	background-color: var(--el-color);
	position: absolute;
    bottom: 0;
    right: 0;
}

.textarea-border-right {
	width: var(--medium-border-height);
	height: 4vw;
	background-color: var(--el-color);
	position: absolute;
    top: 0;
    right: 0;
}

.buttom-send {
	position: absolute;
	right: 0;
	bottom: calc(-1.2vw + -0.6vh);
	height: calc(1.2vw + 0.6vh);
	width: 5vw;
	background-color: var(--el-color);
	border: 0;
	color: var(--bg-color);
	outline: none;
	cursor: pointer;
	font-size: 1vw;
}

.contact-bottom {
	position: relative;
	display: flex;
    align-items: center;
    width: 110%;
    left: 50%;
    transform: translate(-50%, 0);
}

.contact-bottom-dots-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    width: 100%;
    margin-top: 6vh;
}

.contact-dot-1 {
    height: 0.75vw;
    width: 0.75vw;
    background-color: var(--shade-1);
    border-radius: 50%;
    margin: 0 auto;
}

.contact-dot-2 {
    height: 1.125vw;
    width: 1.125vw;
    background-color: var(--shade-2);
    border-radius: 50%;
    margin: 0 auto;
}

.contact-dot-3 {
    height: 1.2vw;
    width: 1.2vw;
    background-color: var(--shade-2);
    border-radius: 50%;
    margin: 0 auto;
}

.contact-dot-4 {
    height: 1vw;
    width: 1vw;
    background-color: var(--shade-2);
    border-radius: 50%;
    margin: 0 auto;
}

.contact-dot-5 {
	position: relative;
	display: flex;
	align-items: center;
}

.contact-dot-5 > .circle > .dot {
    height: 7vw;
    width: 7vw;
    background-color: var(--el-color);
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    left: -2px;

}

.contact-dot-5 > .circle {
    height: 6vw;
    width: 6vw;
    border: 1vw solid var(--bg-color);
    border-radius: 50%;
    background-color: transparent;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
}

.contact-dot-5 > .circle > .small-line-1 {
	position: absolute;
	height: var(--small-border-height);
	width: 1.8vw;
	top: 1vw;
	left: 0;
	background-color: var(--shade-4);
	z-index: -1;
	border-radius: 50px;
}

.contact-dot-5 > .circle > .small-line-2 {
	position: absolute;
	height: var(--small-border-height);
	width: 1.8vw;
	bottom: 1vw;
	right: 0;
	background-color: var(--shade-4);
	z-index: -1;
	border-radius: 50px;
}

.contact-dot-5 > .circle > .send-button {
	color: var(--bg-color);
	font-size: 1vw;
	font-family: "nimbusBold";
	margin: 0 auto;
	border: none;
	background: transparent;
	outline: none;
	padding: 0;
	cursor: pointer;
}

.contact-dot-6 {
	height: 2.7vw;
    width: 2.7vw;
    background-color: var(--shade-4);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.contact-dot-6 > .small-line {
	transform: rotate(40deg);
	height: var(--small-border-height);
	width: 4vw;
	position: absolute;
	left: -28%;
    top: 40%;
    background-color: var(--bg-color);
}

.contact-dot-7 {
	height: 1.6vw;
    width: 1.6vw;
    background-color: var(--shade-2);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.contact-dot-8 {
	height: 1.3vw;
    width: 1.3vw;
    background-color: var(--shade-1);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.toggleOnSlideTop {
    animation: jupiterSlideTop 0.4s var(--main-cubic-bezier);
    animation-fill-mode: forwards;
}

.toggleOnSlideBottom {
    animation: jupiterSlideBottom 0.4s var(--main-cubic-bezier);
    animation-fill-mode: forwards;
}

.toggleOnSlideTopBack {
    animation: jupiterSlideTopBack 0.4s var(--main-cubic-bezier);
    animation-fill-mode: forwards;
}

.toggleOnSlideBottomBack {
    animation: jupiterSlideBottomBack 0.4s var(--main-cubic-bezier);
    animation-fill-mode: forwards;
}


@keyframes jupiterSlideTop {
    from {
        left: 0;
        transform: translate(0%, 0);
    }

    to {
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@keyframes jupiterSlideBottom {
    from {
        right: 0;
        transform: translate(0%, 0);
    }

    to {
        right: 50%;
        transform: translate(50%, 0);
    }
}


@keyframes jupiterSlideTopBack {
    from {
        left: 25%;
        transform: translate(25%, 0);
    }

    to {
        left: 0;
        transform: translate(0%, 0);
    }
}

@keyframes jupiterSlideBottomBack {
    from {
        right: 50%;
        transform: translate(50%, 0);
    }

    to {
        right: 0;
        transform: translate(0%, 0);
    }
}




