::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.supercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    box-shadow: inset 0px 0px 0px var(--main-border-height) var(--el-color);
}

.bar-active {
    background-position: 0% 100% !important;
    cursor: default !important;
}

.full-border-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--main-border-height);
    z-index: 10;
    background-color: var(--el-color);
}

.me-section {
    display: grid;
    grid-template-columns: 1fr 0fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.row-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: 18vw;
    border-left: var(--main-border-height) solid var(--el-color);
    border-bottom: var(--main-border-height) solid var(--el-color);
    border-top: var(--main-border-height) solid transparent;
    height: calc(100vh - var(--main-border-height) - var(--main-border-height));
    z-index: 2;
}

.border-skew {
    top: 0;
    left: -32vw;
    width: 50vw;
    position: absolute;
    border-right: calc(var(--main-border-height) - 1px) solid var(--el-color); /* -1px cause of the 1px outline on the skew border */
    background-color: var(--bg-color);
    height: 100vh;
    transform: skew(-3deg) rotate(3deg);
    z-index: 1;
    outline: 1px solid var(--el-color);
    backface-visibility: hidden;
}

.name {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30%);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-top: var(--main-border-height);
}

.name p {
    display: flex;
    align-items: center;
    font-size: 4.3vw;
    color: var(--el-color);
    margin-left: 2vw;
    font-family: "nimbusBold";
    margin-bottom: 0;
    margin-top: 0;
    height: 60%;
}

.profession {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 6vh);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-top: 12vh;
}

.profession p {
    display: flex;
    align-items: center;
    font-size: 1.4vw;
    color: var(--el-color);
    margin-left: 2vw;
    font-family: "nimbusReg";
    margin-bottom: 0;
    margin-top: 0;
}

.icons-contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-bottom: var(--main-border-height);
    margin-left: 2vw;
    width: 70%;
}

.icons-contact img {
    width: 40%;
}

.icons-contact div {
    display: flex;
    align-items: flex-end;
}

.career-lines {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 80vh;
    width: 0.5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.line {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.bar {
    height: var(--main-border-height);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, var(--el-color) 50%);
    position: absolute;
    width: 50vw;
    transition: background-position 0.6s var(--main-cubic-bezier);
    background-position: -10vw 100%;
    background-size: 200% 100%;
    display: flex;
    align-items: center;
}

.bar:hover {
    background-position: 0% -100%;
    cursor: pointer;
}

.bar p {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(28,54,72,1) 50%, rgba(241,240,234,1) 50%);
    position: absolute;
    margin: 0;
    font-size: calc(1.2vw + 0.8vh);
    margin-top: -0.2%;
    color: transparent;
    background-position: -10vw -100%;
    background-size: 50vw 100%;
    transition: background-position 0.6s var(--main-cubic-bezier);
    width: 100%;
    text-align: end;
}

.bar:hover > p {
    background-position: 0% -100%;
}

.home-right-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 90vh;
    float: right;
    width: 55vw;
}

.right-dots-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 1.2vw;
    position: absolute;
    top: calc(2.5vw + 1.2vh);
    right: calc(2.5vw + 1.2vh);
}

.right-dot {
    height: 1.2vw;
    width: 1.2vw;
    background-color: #dedfdb;
    border-radius: 50%;
    margin: 0 auto;
}

.row-blue {
    background-color: var(--el-color);
    margin: 0 auto;
    margin-right: 0;
    width: 62vw;
    position: relative;
}

.welcome-msg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 3vh;
    position: absolute;
    right: var(--main-border-height);
    top: var(--main-border-height);
    margin: 0;
}

.welcome-text {
    
}

.welcome-text > p {
    color: var(--bg-color);
    font-family: "nimbusBold";
    font-size: 3vw;
    text-align: end;
    margin: 0;
}

.wip > p {
    font-size: 1vw;
}


/* right side bottom dots */

.bottom-cuts-container {
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0.8vw;
    position: absolute;
    bottom: var(--main-border-height);
    width: 58vw;
    left: 50%;
    transform: translate(-50%, 0);
}

.cut-dot-container {
    position: relative;
}

.bottom-dot {
    height: 1.4vw;
    width: 1.4vw;
    background-color: var(--bg-color);
    border-radius: 50%;
    margin: 0 auto;
}

.top-cut {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    background-color: var(--el-color);
}

.bottom-cut {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background-color: var(--el-color);
}

.right-cut {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--el-color);
}

.left-cut {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--el-color);
}

.quarter-top-right-cut {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--el-color);
}

.quarter-bottom-left-cut {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--el-color);
}




/* menu 2 */

.skills-section {
    display: grid;
    grid-template-columns: 1fr 0fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.row-left-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: 18vw;
    border-left: var(--main-border-height) solid var(--el-color);
    border-bottom: var(--main-border-height) solid var(--el-color);
    border-top: var(--main-border-height) solid transparent;
    height: calc(100vh - var(--main-border-height) - var(--main-border-height));
    z-index: 2;
}

.menu2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-top: var(--main-border-height);
}

.menu2 p {
    font-size: var(--main-border-height);
    color: var(--el-color);
    font-family: "nimbusBold";
}

.line-menu2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 55%;
}

.bar-menu2 {
    height: var(--main-border-height);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, var(--el-color) 50%);
    position: absolute;
    width: 13vw;
    transition: background-position 0.6s var(--main-cubic-bezier);
    background-position: -10vw -100%;
    background-size: 200% 100%;
    left: 0;
    display: flex;
    align-items: center;
}

.bar-menu2:hover {
    background-position: 0% -100%;
    cursor: pointer;
}

.bar-menu2 p {
    text-align: end;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(241,240,234,1) 50%, rgba(28,54,72,1) 50%);
    position: absolute;
    margin: 0;
    font-size: calc(1vw + 0.8vh);
    margin-top: -0.2%;
    color: transparent;
    background-position: -10vw 100%;
    background-size: 200% 100%;
    transition: background-position 0.6s var(--main-cubic-bezier);
    width: 100%;
}

.bar-menu2:hover > p {
    background-position: 0% -100%;
}


/*
.bar1 {
    width: 8vw;
}
.bar2 {
    width: 9.4vw;
}
.bar3 {
    width: 11vw;
}
.bar4 {
    width: 12.6vw;
}

    now that was fun !
    
    position: absolute; 
    right: 6.7%;
    bottom: 0;
    left: 6.7%;
    top: 0;
    transform: scaleY(1.155) skewX(-30deg) rotate(30deg);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 80%, var(--el-color) 20%);
    background-size: 29%;
    content: '';
    background-position: 388% 100%;
    /* border: 1px solid red;

 */


