.project-lines {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 80vh;
    width: 0.5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.project-bar > p {
    font-size: calc(0.7vw + 0.45vh);
}

.right-stuff-project {
    position: absolute;
    top: var(--main-border-height);
    right: var(--main-border-height);
    width: 12vw;
}

.github-button {
    position: absolute;
    width: 0;
    height: 0;
    top: -10vw;
    right: -10vw;
    border-style: solid;
    border-width: 0 18vw 18vw 0;
    border-color: var(--el-color);
    border-radius: 50%;
}

.github-button-link {
    position: absolute;
    left: 3vw;
    bottom: -15vw;
}

.github-project {
    width: 3vw;
    transition: transform 0.2s var(--main-cubic-bezier);
}

.github-project:hover {
    transform: scale(1.15);
}


.grid-project-content {
    height: 100vh;
    width: 58vw;
    float: right;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    grid-column-gap: 0;
    grid-row-gap: 2vw;
}

.title-project-container {
    margin-top: 8vh;
}

.title-project-container > p {
    margin: 0;
    display: inline;
    font-size: 1.6vw;
    color: var(--el-color);
}

.title-project-container > h1 {
    margin: 0;
    font-size: 4vw;
    display: inline;
    margin-left: 2vw;
    color: var(--el-color);
}

.image-project {
    position: relative;
    display: grid;
    grid-template-columns: 2.6fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.image-nav-container {
    height: 100%;
}

.image-nav-container {
    max-height: 50vh;
}

.image-nav-container > img {
    width: 40vw;
    object-fit: cover;
    height: 45vh;
    position: absolute;
    bottom: 0;
}

.desc-project {
    background-color: var(--el-color);
    position: relative;
}

.desc-triangle {
    position: absolute;
    width: 0;
    height: 0;
    bottom: -1px;
    right: -1px;
    left: -7vw;
    border-style: solid;
    border-width: 0  0 7vw 7vw;
    border-color: transparent transparent var(--el-color) transparent;
}

.desc-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.project-description {
    width: 40vw;
}

.project-description > p {
    color: var(--bg-color);
    margin: 0;
    margin-left: calc(var(--main-border-height) / 2);
    margin-top: calc(var(--main-border-height) / 2);
    line-height: var(--line-height);
}

.nav-project-images {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: var(--main-border-height);
    height: 6vw;
    position: absolute;
    bottom: calc(45vh - 6vw);
    left: 40vw;
    background-color: var(--el-color);
    z-index: 1;
}

.image-arrow-container {
    display: flex;
    align-items: center;
}

.chevron-icon-project {
    width: 1.3vw;
    margin: 0 auto;
    transition: transform 0.2s var(--main-cubic-bezier);
    cursor: pointer;
}

.chevron-icon-project:hover {
    transform: scale(1.15);
}

.project-skill-used {
    position: relative;
}

.skill-used-container {
    position: absolute;
    bottom: 0;
}

.icon-skill {
    width: 2.4vw;
}

.skill-used-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 1.6vw;
}

.skill-used-1 { grid-area: 3 / 1 / 4 / 2; }
.skill-used-2 { grid-area: 3 / 2 / 4 / 3; }
.skill-used-3 { grid-area: 2 / 1 / 3 / 2; }
.skill-used-4 { grid-area: 2 / 2 / 3 / 3; }
.skill-used-5 { grid-area: 1 / 1 / 2 / 2; }
.skill-used-6 { grid-area: 1 / 2 / 2 / 3; }