.skills-section {
    display: grid;
    grid-template-columns: 1fr 0fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.row-left-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: 18vw;
    border-left: calc(1.5vw + 1vh) solid #1C3648;
    border-bottom: calc(1.5vw + 1vh) solid #1C3648;
    border-top: calc(1.5vw + 1vh) solid transparent;
    height: calc(100vh - calc(1.5vw + 1vh) - calc(1.5vw + 1vh));
    z-index: 2;
}

.menu2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-top: calc(1.5vw + 1vh);
}

.menu2 p {
    font-size: calc(1.5vw + 1vh);
    color: #1C3648;
    font-family: "nimbusBold";
    height: 100%;
}

.line-menu2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 55%;
}

.skills-lines {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 80vh;
    width: 0.5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 2%;
}

.skill-line {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-left: -105vw;
}

.skill-line > p {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}

.skill-bar {
    height: calc(0.50vw + 0.375vh);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, #1C3648 50%);
    width: 100vw;
    transition: background-position 0.6s cubic-bezier(0.08, 0.3, 0.75, 0.95);
    background-size: 200% 100%;
}

.skill-bar > p {
    float: right;
    margin-top: calc(0.50vw + 0.375vh);
    font-size: calc(0.75vw + 0.5vh);
    color: #1C3648;
}

.skill-bar-html {
    margin-left: 4vw;
}

.skill-bar-js {
    margin-left: 5vw;
}

.skill-bar-vue {
    margin-left: 3vw;
}

.skill-bar-react {
    margin-left: 0vw;
}

.skill-bar-css {
    margin-left: 2vw;
}

.skill-bar-php {
    margin-left: 4vw;
}

.skill-bar-symfony {
    margin-left: 4vw;
}

.skill-bar-sql {
    margin-left: 2vw;
}

.bar-menu2 {
    height: calc(1.5vw + 1vh);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, #1C3648 50%);
    position: absolute;
    width: 13vw;
    transition: background-position 0.6s cubic-bezier(0.08, 0.3, 0.75, 0.95);
    background-position: -10.5vw -100%;
    background-size: 200% 100%;
    left: 0;
}

.bar-menu2:hover {
    background-position: 0% -100%;
    cursor: pointer;
}

.bar-menu2 p {
    text-align: end;
    -webkit-background-clip: text;
    background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    /* background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #1C3648 0%); */
    background-image: linear-gradient(90deg, rgba(241,240,234,1) 50%, rgba(28,54,72,1) 50%);
    /* font: 700 15vw 'Open Sans', sans-serif; */
    position: absolute;
    margin: 0;
    font-size: calc(1vw + 0.8vh);
    margin-top: -0.2%;
    /* color: #1C3648; */
    color: transparent;
    background-position: -10.5vw 100%;
    background-size: 200% 100%;
    transition: background-position 0.6s cubic-bezier(0.08, 0.3, 0.75, 0.95);
    width: 100%;
    /* margin-right: 0; */
    /* text-align: center; */
    /* margin-left: 36vw;*/
}

.bar-menu2:hover > p {
    background-position: 0% -100%;
}

.h1-container-skills {
    margin-top: calc(0.5vw + 0.2vh);
}

.h1-container-skills > h1{
    text-align: center;
    font-size: 4.5vw;
    font-family: "nimbusReg";
    color: #1C3648;
    margin-top: calc(1.5vw + 1vh);
    margin-bottom: 4%;
}

.skills-grid-container {
    width: 50vw;
    margin: 0 auto;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 4vh;
}

.h-skill {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.h-skill-logo {
    display: flex;
    align-items: center;
    position: relative;
}

.hexagon-skill-part {
    float: left;
    margin: 0 auto;
}

.hexagon-skill-shape {
    position: relative;
    overflow: hidden;
    background: transparent;
    width: 8vw;
    height: 8vw;
    transform: skewX(30deg) scaleY(.866);
}
.hexagon-skill-shape:before {
    position: absolute;
    right: 6.7%;
    bottom: 0;
    left: 6.7%;
    top: 0;
    transform: scaleY(1.155) skewX(-30deg) rotate(30deg);
    background-color: #dedfdb;
    content: '';
}

.h-skill-text {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
}

.h-skill-text > p {
    font-family: "nimbusReg";
    line-height: 1.6;
    font-size: calc(0.75vw + 0.5vh);
    color: #1C3648;
}

.skill-icon {
    position: absolute;
    width: 3vw;
    left: 50%;
    transform: translate(-50%, 0);
}