.skills-lines {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 80vh;
    width: 0.5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 2%;
}

.skill-line {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-left: -105vw;
}

.skill-line > p {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}

.skill-bar {
    height: var(--medium-border-height);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, var(--el-color) 50%);
    width: 100vw;
    transition: background-position 0.6s var(--main-cubic-bezier);
    background-size: 200% 100%;
}

.skill-bar > p {
    float: right;
    margin-top: var(--medium-border-height);
    font-size: calc(0.75vw + 0.5vh);
    color: var(--el-color);
}

.skill-bar-html {
    margin-left: 4vw;
}

.skill-bar-js {
    margin-left: 5vw;
}

.skill-bar-vue {
    margin-left: 3vw;
}

.skill-bar-react {
    margin-left: 0vw;
}

.skill-bar-css {
    margin-left: 2vw;
}

.skill-bar-php {
    margin-left: 4vw;
}

.skill-bar-symfony {
    margin-left: 4vw;
}

.skill-bar-sql {
    margin-left: 2vw;
}

.bar-menu2 {
    height: var(--main-border-height);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, var(--el-color) 50%);
    position: absolute;
    width: 13vw;
    transition: background-position 0.6s var(--main-cubic-bezier);
    background-position: -10vw -100%;
    background-size: 200% 100%;
    left: 0;
    display: flex;
    align-items: center;
}

.bar-menu2:hover {
    background-position: 0% -100%;
    cursor: pointer;
}

.bar-menu2 p {
    text-align: end;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(241,240,234,1) 50%, rgba(28,54,72,1) 50%);
    position: absolute;
    margin: 0;
    font-size: calc(1vw + 0.8vh);
    margin-top: -0.2%;
    color: transparent;
    background-position: -10vw 100%;
    background-size: 200% 100%;
    transition: background-position 0.6s var(--main-cubic-bezier);
    width: 100%;
}

.bar-menu2:hover > p {
    background-position: 0% -100%;
}

.h1-container-skills {
    margin-top: calc(0.5vw + 0.2vh);
}

.h1-container-skills > h1{
    text-align: center;
    font-size: 4.5vw;
    font-family: "nimbusReg";
    color: var(--el-color);
    margin-top: var(--main-border-height);
    margin-bottom: 4%;
}

.skills-grid-container {
    width: 50vw;
    margin: 0 auto;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0;
}

.h-skill {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.fast-skill {
    margin-top: 2vh;
}

.h-skill-logo {
    display: flex;
    align-items: center;
    position: relative;
}

.hexagon-skill-part {
    float: left;
    margin: 0 auto;
}

.hexagon-skill-shape {
    position: relative;
    overflow: hidden;
    background: transparent;
    width: 8vw;
    height: 8vw;
    transform: skewX(30deg) scaleY(.866);
}
.hexagon-skill-shape:before {
    position: absolute;
    right: 6.7%;
    bottom: 0;
    left: 6.7%;
    top: 0;
    transform: scaleY(1.155) skewX(-30deg) rotate(30deg);
    background-color: #dedfdb;
    content: '';
}

.h-skill-text {
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
}

.h-skill-text > p {
    font-family: "nimbusReg";
    line-height: var(--line-height);
    font-size: calc(0.75vw + 0.5vh);
    color: var(--el-color);
}

.skill-icon {
    position: absolute;
    width: 3vw;
    left: 50%;
    transform: translate(-50%, 0);
}

.skill-rounds {
    position: relative;
    height: 8vh;
}

.top-circle-1 {
    height: 0.7vw;
    width: 0.7vw;
    background-color: var(--shade-3);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0.25vw;
    left: 8vw;
}

.top-circle-2 {
    height: 1.5vw;
    width: 1.5vw;
    background-color: var(--shade-4);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0.25vw;
    right: 26vw;
    margin-top: -1.5vw;
}

.bottom-circle-1 {
    height: 1.3vw;
    width: 1.3vw;
    background-color: var(--el-color);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0.25vw;
    left: 7vw;
}

.bottom-circle-2 {
    height: 1vw;
    width: 1vw;
    background-color: var(--shade-2);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0.25vw;
    right: 22vw;
    margin-bottom: -1vw;
}