{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block content %}
<div class="supercontainer">
    <div class="mainTitle">Projets</div>
    <div class="grid_container_left">
        <div class="grid_item proj">
            <div class="slide_box">
                <p class="project_text_left" id="p1">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="grid_item proj">
            <div class="slide_box">
                <p class="project_text_left" id="p2">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="grid_item proj">
            <div class="slide_box">
                <p class="project_text_left" id="p3">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="grid_item proj">
            <div class="slide_box">
                <p class="project_text_left" id="p4">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="grid_item proj">
            <div class="slide_box">
                <p class="project_text_left" id="p5">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
    </div>
    <div class="cell-center">
        <div class="cell-wrapper">
            <div class="image-project-grid">
                <div class="title-project-container">
                    <h2>
                        Perlin noise terrain generation
                    </h2>
                </div>
                <div class="image-container">
                    <img class="image-project" src="https://via.placeholder.com/1920x1080">
                </div>
            </div>
            <div class="text-project-grid">
                <div class="text-project">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="grid_container_right">
        <div class="grid_item" id="p1_output">
            <div>
                <p class="project_text_right">&nbsp;</p>
            </div>
        </div>
        <div class="grid_item" id="p2_output">
            <div>
                <p class="project_text_right">&nbsp;</p>
            </div>
        </div>
        <div class="grid_item" id="p3_output">
            <div>
                <p class="project_text_right">&nbsp;</p>
            </div>
        </div>
        <div class="grid_item" id="p4_output">
            <div>
                <p class="project_text_right">&nbsp;</p>
            </div>
        </div>
        <div class="grid_item" id="p5_output">
            <div>
                <p class="project_text_right">&nbsp;</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('projects') }}
{% endblock %}
