{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
{{ encore_entry_link_tags('skills') }}
{% endblock %}
{% block content %}
<div class="full-border-top"></div>
<div class="supercontainer">
    <div id="skills_section" class="skills-section">
        <div class="row-left-menu">
            <div class="menu2">
                <div class="line-menu2">
                    <div class="bar-menu2"><p>Home&nbsp</p></div>
                </div>
                <div class="line-menu2">
                    <div class="bar-menu2"><p>About Me&nbsp</p></div>
                </div>
                <div class="line-menu2">
                    <div class="bar-menu2"><p>Projects&nbsp</p></div>
                </div>
                <div class="line-menu2">
                    <div class="bar-menu2 bar-active"></div>
                </div>
                <div class="line-menu2">
                    <div class="bar-menu2"><p>Contact&nbsp</p></div>
                </div>
            </div>
            <div class="icons-contact">
                <div class="github-icon">
                    <img class="github-icon" src="images/specs/github.svg" alt="github icon">
                </div>
                <div class="gitlab-icon">
                    <img class="github-icon" src="images/specs/gitlab.svg" alt="gitlab icon">
                </div>
                <div class="linkedin-icon">
                    <img class="linkedin-icon" src="images/specs/linkedin.svg" alt="linkedin icon">
                </div>
            </div>
        </div>
        <div class="row-middle">
            <div class="border-skew"></div>
            <div class="skills-lines">
                <div class="skill-line">
                    <div class="skill-bar skill-bar-html"><p>HTML5&nbsp</p></div>
                </div>
                <div class="skill-line">
                    <div class="skill-bar skill-bar-js"><p>Javascript&nbsp</p></div>
                </div>
                <div class="skill-line">
                    <div class="skill-bar skill-bar-vue"><p>VueJS&nbsp</p></div>
                </div>
                <div class="skill-line">
                    <div class="skill-bar skill-bar-react"><p>ReactJS&nbsp</p></div>
                </div>
                <div class="skill-line">
                    <div class="skill-bar skill-bar-css"><p>Css + Sass&nbsp</p></div>
                </div>
                <div class="skill-line">
                    <div class="skill-bar skill-bar-php"><p>PHP&nbsp</p></div>
                </div>
                <div class="skill-line">
                    <div class="skill-bar skill-bar-symfony"><p>Symfony&nbsp</p></div>
                </div>
                <div class="skill-line">
                    <div class="skill-bar skill-bar-sql"><p>SQL&nbsp</p></div>
                </div>
            </div>
        </div>
        <div class="row-right">
            <div class="right-dots-container">
                    <div class="right-dot"></div>
                    <div class="right-dot"></div>
                    <div class="right-dot"></div>
                    <div class="right-dot"></div>
                    <div class="right-dot"></div>
                    <div class="right-dot"></div>
                    <div class="right-dot"></div>
                    <div class="right-dot"></div>
                    <div class="right-dot"></div>
                    <div class="right-dot"></div>
                    <div class="right-dot"></div>
                </div>
            <div class="skills-grid-container">
                <div class="h1-container-skills h-skill">
                    <div></div>
                    <h1>Skills</h1>
                </div>
                <div class="fast-skill h-skill">
                    <div class="h-skill-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="h-skill-logo">
                        <div class="hexagon-skill-part">
                            <div class="hexagon-skill-shape"></div>
                        </div>
                        <img class="skill-icon" src="images/specs/racing.svg" alt="github icon">
                    </div>
                </div>
                <div class="skill-rounds">
                    <div class="top-circle-1"></div>
                    <div class="top-circle-2"></div>
                </div>
                <div class="multi-skill h-skill">
                    <div class="h-skill-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <div class="h-skill-logo">
                        <div class="hexagon-skill-part">
                            <div class="hexagon-skill-shape">
                            </div>
                        </div>
                        <img class="skill-icon" src="images/specs/links.svg" alt="github icon">
                    </div>
                </div>
                <div class="skill-rounds">
                    <div class="bottom-circle-1"></div>
                    <div class="bottom-circle-2"></div>
                </div>
                <div class="team-skill h-skill">
                    <div class="h-skill-text">
                        <p>
                            Ut enim ad minim t aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                    <div class="h-skill-logo">
                        <div class="hexagon-skill-part">
                            <div class="hexagon-skill-shape">
                            </div>
                        </div>
                        <img class="skill-icon" src="images/specs/teamwork.svg" alt="github icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}
