{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block content %}
    <div class="supercontainer">
        <div class="error_title-container">
            <h1>500</h1>
        </div>
        <div class="error_text-container">
            <p>
                Pretty sure the server is ok ! Projects are <a href="{{ path('index') }}">here</a> btw.
            </p>
        </div>
    </div>
{% endblock %}